@import '../../../style/variables';
@import '../../../style/mixins';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;

  span {
    letter-spacing: -0.02em;
    font-weight: 400;
  }
}

.white {
  background-color: white;
  color: $color-gray-3;

  .icon {
    fill: $color-gray-3;
  }

  &:hover {
    background-color: $color-light-1;
  }

  &.active {
    background-color: $color-blue-1;
    color: white;

    &:hover {
      background-color: $color-blue-1;
    }

    .icon {
      fill: white;
    }
  }
}

.blue {
  background-color: $color-light-2;
  color: $color-gray-3;

  .icon {
    fill: $color-gray-3;
  }

  &:hover {
    background-color: $color-light-3;
  }

  &.active {
    background-color: $color-blue-1;
    color: white;

    &:hover {
      background-color: $color-blue-1;
    }

    .icon {
      fill: white;
    }
  }
}

.disabled {
  background-color: transparent;
  border: 2px solid $color-gray-2;
  color: $color-gray-2;

  .icon {
    fill: $color-gray-2;
    width: 20px;
    height: 20px;
  }
}

.lg {
  padding: 14px 24px;

  span {
    font-size: 22px;
    line-height: 164%;
    margin-left: 8px;
  }

  @include smMaxBreakPoint {
    padding: 12px 20px;
    span {
      font-size: 18px;
    }
  }
}

.md {
  padding: 5px 16px;

  span {
    font-size: 16px;
    line-height: 125%;
    margin-left: 8px;
  }

  @include customMinBreakPoint(1800px) {
    span {
      font-size: 18px;
    }
    .icon {
      width: 26px;
      height: 26px;
    }
  }
}

.sm {
  padding: 4px 12px;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    margin-left: 4px;
  }
}
