* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
#root {
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -moz-appearance: textfield;
}