$color-gray-1:#B4CBE4;
$color-gray-2:#486482;
$color-gray-3:#051220;

$color-blue-1:#05B0FA;
$color-blue-2:#0098DE;
$color-blue-3:#007CC4;

$color-yellow-1:#FED400;
$color-yellow-2:#FFBF1C;
$color-yellow-3:#E5A102;

$color-light-1:#F2F8FF;
$color-light-2:#DBEBFF;
$color-light-3:#B7D9FF;

$color-error-1:#C31F33;
$color-error-2:#F47C8A;

$color-success: #248C00;

// standard - 2 , lighter - 1, deeper - 3

$main-font: "e-Ukraine", sans-serif;

$header-height: 80px;
$header-height-lg: 100px;


$map-menu-height: 72px;

$small: 576px;
$medium: 980px;
$large: 1200px;
$extra-large: 1440px;

//--------------------------------------

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
