@import '../../style/variables.scss';

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;

  .slide {
    border-radius: 4px;
    width: 586px;
    height: 490px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    .active {
      background-color: $color-blue-1;
      border: 2px solid $color-blue-1;
      color: white;
    }

    &__item {
      max-width: 380px;
      display: flex;
      align-items: center;
      padding: 18px 24px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: $color-blue-2;
      border: 2px solid $color-blue-2;
      border-radius: 4px;

      span {
        width: 30px;
        margin-right: 16px;
      }

      img {
        margin-left: 21px;
      }

      h4 {
        max-width: 240px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1439px) {
  .slider-wrapper {
    flex-direction: column;
    gap: 40px;

    .slide {
      width: 530px;
      height: 415px;
    }

    .list {
      flex-wrap: wrap;
      max-width: 800px;
      justify-content: center;
      flex-direction: row;
      gap: 20px;

      &__item {
        max-width: 280px;
        padding: 14px 20px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;

        img {
          display: none;
        }

        span {
          width: 30px;
          margin-right: 16px;
        }

        h4 {
          max-width: 240px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: $small) {
  .slider-wrapper {

    .slide {
      width: 95%;
      height: auto;
    }

    .list {
      max-width: 800px;
      justify-content: center;
      flex-direction: row;
      gap: 12px;

      &__item {
        max-width: 45%;
        padding: 10px 11px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;

        span {
          margin-right: 11px;
        }

        h4 {
          width: 240px;
          word-wrap: break-word;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .slider-wrapper {
    .list__item {
      max-width: 80%;
    }
    .slide {
      width: 80%;
    }
  }
}